html {
    margin: 0 auto;
    background-color: #444;
    width: 80%;
    max-width: 1400px;
  }
  
  header {
    margin: 50px 0;
    /* background-color: #aaa; */
    /* background-color: #FF006A; */
  }
  
  h1 {
    text-align: center;
    color: #eee;
    color: #eee;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 45px;
  }
  
  .big-widget {
    display: flex;
    align-items: center;
    margin: 20px auto;
    display: flex;
    justify-content: center;
  }
  .widget {
    padding: 15px; 
    background-color: #eee;
    border-radius: 10px;
    
  }
  .big-search-results {
    background-color: #eee;
    border-radius: 20px;
  }

  .postman-wrapper{
    text-align: center;
    margin: 0 15px;
  } 

  a {
    color: #888;
  }
  
  footer {
    font-size: 12px;
    display: flex;
    position: absolute;
    bottom: 10px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #888;
    height: 50px;
    padding: 10px 0 5px;
    
}